.list {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.paginator {
  text-align: center;
  margin: 20px 0 15px 0;
  span {
    color: #666;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: #fff5f5;
    }
  }
}

.select {
  background: #eee;
}