.navBar {
  box-shadow: 0 0 0 1px #e5e5e5;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  a {
    display: inline-block;
    padding: 10px;
    line-height: 28px;
    color: #8f8f8f;
    border-bottom: 2px solid transparent;
    width: 45%;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      color: #6d6262;
    }
  }
  :global a.active {
    border: none;
    border-bottom: 2px solid #4a8bee;
    color: #000;
  }
}