.search {
  position: relative;
  width: 36px;
  height: 36px;
  z-index: 5;
  margin: 6px 0 5px 0;
  overflow: hidden;
  border-right: 1px solid #ededed;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
  &:hover {
    width: 100%;
    border-right: 0;
  }
  &:after {
    content: '\260C';
    color: #c1b0b0;
    width: 32px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.input {
  font-size: 16px;
  border: 1px solid #ededed;
  padding: 8px 22px 8px 35px;
  color: #c1b0b0;
  width: 100%;
  box-sizing: border-box;
}

.show {
  width: 100%;
  border-right: 0;
}

.clear {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 22px;
  color: #c1b0b0;
  z-index: 6;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  &:hover {
    color: #000;
  }
}