
.description {
  display: inline-block;
  width: 290px;
  padding: 16px 28px 11px 15px;
  cursor: text;
}

.delete {
  z-index: 55;
  float: right;
  cursor: pointer;
  padding: 15px 10px 12px 10px;
  &:after {
    content: "×";
  }
  &:hover {
    color: #000;
  }
}

.edit {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: #c1b0b0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 41px;
  box-sizing: border-box;
  display: none;
}

.show {
  display: inline-block;
}

.todoItem {
  position: relative;
  font-size: 18px;
  border-bottom: 1px solid #ededed;
  color: #c1b0b0;
  display: block;
}

.itemComplete {
  text-decoration: line-through;
  color: #e2d9d9;
}

.complete {
  z-index: 55;
  float: left;
  width: 14px;
  padding: 15px 10px 12px 10px;
  cursor: pointer;
  &:hover {
    color: #000;
  }
  &:after {
    content: "+";
  }
}

.completed:after {
  content: "-";
  padding-left: 2px;
}

.todo-list__item:hover .todo-list__edit-btn {
  display: inline-block;
}