.message {
  z-index: 66;
  position: absolute;
  width: 410px;
  height: 170px;
  left: 50%;
  top: 50%;
  margin: -85px 0px 0 -205px;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  font-size: 24px;
  background: #fff;
  box-shadow: 0 1px 4px 1px rgba(49, 46, 46, 0.43);
  -moz-box-shadow: 0 1px 4px 1px rgba(49, 46, 46, 0.43);
  -webkit-box-shadow: 0 1px 4px 1px rgba(49, 46, 46, 0.43);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    margin: 0;
    padding: 30px;
  }
}

.close {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
  z-index: 5;

  &:hover {
    color: #000;
  }
}

.over {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.46);
  z-index: 999;
}