<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="https://facebook.github.io/react/favicon.ico">
</head>
<body>
<div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
</body>
</html>