html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, textarea {
  outline: none
}

:global #root {
  margin: 40px auto;
  width: 400px;
}

:global main {
  padding-top: 20px;
}

:global .forms {
  form {
    box-shadow: 0 0 0 1px #e5e5e5;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 15px;
    margin-top: 20px;
    input {
      display: block;
      width: 337px;
      margin-bottom: 25px;
      height: 34px;
      padding: 6px 16px;
      font-size: 14px;
      color: #5c5c5c;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    button {
      width: 100%;
      display: inline-block;
      color: #fbf3f3;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
        background: #d0acac;
      }
    }
  }
}

h1 {
  text-align: center;
  font-size: 36px;
  color: rgba(175, 47, 47, 0.15);
}