.todo-form {
  background: #fff;
  margin: 20px 0 0 0;
  position: relative;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  &__input {
    color: #666;
    font-size: 16px;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    width: 100%;
    box-sizing: border-box;
  }
}

.form {
  background: #fff;
  margin: 20px 0 0 0;
  position: relative;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.input {
  color: #666;
  font-size: 16px;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  width: 100%;
  box-sizing: border-box;
}